h1 {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
}

.section {
  padding-top: 1rem;
}

.is-bottom-nav {
  bottom: 0;
  position: fixed;
  background: white;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.is-bottom-nav-item {
  padding: 1em;
  text-align: center;
}